.grid-container {
    font-family: '"Palatino Linotype", "Book Antiqua", Palatino, serif';
    background-color: #565656
}

.saved-books-card {
    margin: 10px auto;
    display: block;
    text-align: center;
    width: 400px;
    background-color: #d7cec7;
    border-radius: 3px
}