.grid-container {
    font-family: '"Palatino Linotype", "Book Antiqua", Palatino, serif';
    background-color: #565656
}

.saved-books-card {
    margin: 10px auto;
    display: block;
    text-align: center;
    width: auto;
    background-color: #d7cec7;
    border-radius: 3px
}

.label {
    color: #76323f;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold
}