.form-div {
    background-color: #d7cec7;
    color: #565656;
    padding: 5%;
    font-family: '"Palatino Linotype", "Book Antiqua", Palatino, serif'
}

.form-group {
    width: 75%;
    margin: auto;
}

.label {
    color: #76323f;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold
}


.search-btn {
    margin: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #d7cec7;
    color: #ffffff
}

.search-btn:hover {
    background-color: #C09f80
}