.results {
    background-color: #d7cec7;
    color: #565656;
    padding-left: 5%;
    margin: 1%;
    border-radius: 2px
}

.inner-results {
    border-style: solid;
    border: 2px #565656;
    border-radius: 2px
}

.label {
    color: #76323f;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold
}